:root {
  --headline-clr: #111827;
  --subheadline-clr: rgb(107 114 128);
  --input-clr: hsl(0, 0%, 92%);
  --accent: #4f45e4;
  --background: #fefefe;

  --border-radius-outer: 5px;

  --border-radius-inner: calc((var(--border-radius-outer) / 2));
}

.team__invite {
  border: 1px solid var(--input-clr);
  padding: 1.5em;
  border-radius: var(--border-radius-outer);
}

.team__invite > :first-child {
  margin-bottom: 2em;
}

.header__section {
  text-align: center;
}

.header__section > * {
  margin-bottom: 1em;
}

.header__section h3 {
  font-weight: 500;
  color: var(--headline-clr);
}

.header__section p {
  color: var(--subheadline-clr);
}

.signup__form {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  min-height: fit-content;
  font-size: 0.875rem;
}

.signup__form input {
  flex-grow: 1;
  font-size: 1rem;
  border-radius: var(--border-radius-inner);
  border: 1.5px solid var(--input-clr);
  padding-left: 0.5em;
}

.signup__form::placeholder {
  color: var(--input-clr);
}

.primary__button {
  font-size: 1rem;
  padding: 0.5em 1em;
  background-color: var(--accent);
  color: var(--background);
  border: transparent;
  border-radius: var(--border-radius-inner);
  cursor: pointer;
  transition: 100ms ease-in;
}

.primary__button:hover,
.secondary__button:focus {
  opacity: 0.85;
  transition: 100ms ease-in;
}

.secondary__button {
  font-size: 1rem;
  padding: 0.5em;
  border: transparent;
  border-radius: var(--border-radius-inner);
  cursor: pointer;
  transition: 10ms ease-in;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.7em;
  font-weight: 500;
}

.secondary__button:hover,
.secondary__button:focus {
  outline: 1px solid var(--accent);
  transition: 10ms ease-in;
}

.memberlist__header {
  color: var(--subheadline-clr);
  margin-block: 1em;
}

.avatar img {
  max-width: 4ch;
  border-radius: 1e5px;
  aspect-ratio: 1;
  object-fit: cover;
}

.user,
.user__info {
  display: flex;
  place-items: center;
  justify-content: space-between;
  gap: 0.5em;
  padding-block: 0.5em;
}

.member__list > * {
  border-top: 1.5px solid var(--input-clr);
}

.member__list > :last-child {
  border-bottom: 1.5px solid var(--input-clr);
}

.member__card h4 {
  font-weight: 500;
}

.member__card p {
  color: var(--subheadline-clr);
}
